In [1]:
import pandas as pd
import numpy as np

In [2]:
df_iris = pd.read_csv("https://raw.githubusercontent.com/plotly/datasets/master/iris-data.csv")

In [3]:
# Muestra el tamaño del dataset iris
df_iris.shape

(150, 5)

In [4]:
#Muestra las primeras cinco filas y permite además ver las cinco columnas que componen el dataset iris
df_iris.head()

   sepal length  sepal width  petal length  petal width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [5]:
df_iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal length  150 non-null    float64
 1   sepal width   150 non-null    float64
 2   petal length  150 non-null    float64
 3   petal width   150 non-null    float64
 4   class         150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

El dataset iris tiene cinco columnas, las cuales son: **sepal length**, que representa el largo del sépalo de las plantas del género *Iris*; **sepal width**, que representa el ancho del sépalo de las plantas anteriormente mencionadas; **petal length**, que representa el largo de los pétalos de las flores *Iris*; **petal width**, que representa el ancho de los pétalos de las plantas *Iris*; y **species** que representa las tres especies del género *Iris* (*Iris setosa*, *Iris versicolor* e *Iris virginica*). Las columnas numéricas contienen datos del tipo float, mientras que la columna **species** contiene datos del tipo string, el cual es considerado como un dato de tipo objeto en el dataframe.